{% extends 'login/layout.html' %}
{% load static %}
{% block title %}
Вхід в систему
{% endblock %}
{% block content %}
    <div class="login-container">
        <div class="login-box">
            <h2>Вхід у систему</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Номер залікової книжки:</label>
                    {{form.lastname}}
                </div>
                <div class="form-group">
                    <label for="password">Пароль:</label>
                    {{form.password}}
                </div>
                <button type="submit">Увійти</button>
            </form>
        </div>
    </div>
{% endblock %}

